# Python
__pycache__/
*.pyc
.python-version
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/

# Env files
.env

# Node
node_modules/
dist/
build/

# Logs
*.log

# Uploads and Large Files
backend/uploads/
*.mp4
*.mov
*.avi
*.wmv

# OS
.DS_Store
Thumbs.db