# Python
__pycache__/
*.pyc
.python-version
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/

# Env files
.env

# Node
node_modules/
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db